body{
    width: 85vw;
    margin: 0px auto;
    padding: 0px;
    overflow: hidden;
}

.display-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border{
    width: calc((4vh) * 15);
    height: calc((4vh) * 15);
    display: grid;
    grid-template-columns: repeat(15,1fr);
}

.gameborder{
	border: 1px black solid;
	position: relative;
	width: 60vh;
	height: 60vh;
	/* padding: 1px; */
	display: grid;
	grid-template-columns: repeat(15, 1fr);
}

.gamebordertddiv{
	position: relative;
	height: 4vh;
	width: 4vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	cursor: pointer;
}

.gamebordertddiv::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translate(-0%, -50%);
	background: black;
	width: 100%;
	height: 1px;
}

.gamebordertddiv::before{
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, -0%);
	background: black;
	width: 1px;
	height: 100%;
}

.gamebordertddiv.leftshort::after{
	left: 0px;
	width: 50%;
}

.gamebordertddiv.rightshort::after{
	left: initial !important;
	right: 0px;
	width: 50%;
}

.gamebordertddiv.topshort::before{
	top: 0px;
	height: 50%;
}

.gamebordertddiv.bottomshort::before{
	top: initial !important;
	bottom: 0px;
	height: 50%;
}

.black{
	border: 1px black solid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	background: black;
	border-radius: 50%;
	opacity: 0.95;
	z-index: 10;
}

.white{
	border: 1px white solid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	height: 85%;
	background: white;
	border-radius: 50%;
	opacity: 0.95;
	z-index: 10;
}