.dragbox{
    border: 1px black solid;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.dropbox{
    border: 1px black solid;
    display: inline-block;
    width: 130px;
    height: 40px;
}

.search{
    text-align: right;
}

.admin-num{
    border: 1px black solid;
    width: 175px;
    height: 40px;
    background-color: gray;
}

.admin{
    border: 1px black solid;
    width: 300px;
    height: 40px;
    background-color: gray;
}

.table{
    text-align: center;
}

.usertable{
    border: 1px black solid;
    /* width: 450px;
    height: 40px; */
}

.user1{
    border: 1px black solid;
    width: 250px;
    height: 40px;
    background-color: rgb(211, 211, 211);
}

.user2{
    border: 1px black solid;
    width: 250px;
    height: 40px;
    background-color: gray;
}

.usertable1{
    border: 1px black solid;
    width: 500px;
    height: 40px;
    background-color: rgb(211, 211, 211);
}

.usertable2{
    border: 1px black solid;
    width: 500px;
    height: 40px;
    background-color: gray;
}