.openlightboxbutton{
    width:250px;
    height: 100px;
    font-size: 50px;
    border-radius: 25px;
    position: relative;
    left: 45%;
    top: 5px;
}

.lightbox{
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask{
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(100, 100, 100, 0.25);/* 背景顏色 */
}

.close{
    font-size:30px;/* 字體大小 */
    text-align: center;
    width: 60px;/* 寬度 */
    position: absolute;
    right: 10px;
    top: 3px;
}

.body{
    position: relative;/* 絕對定位 */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;/* 文字置中 */
    width: 700px;/* 寬度 */
    height: 300px;/* 高度 */
    border: 1px blue solid;/* 邊框 */
    background-color: rgba(100, 100, 100, 0.5);/* 背景顏色 */
    border-radius: 15px;/* 圓弧邊框 */
}

.title{
    font-size: 30px;
}