<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>hightbox</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <input type="button" onclick="location.href='../../index.html'" value="回到主頁"><br>
        <input type="button" class="openlightboxbutton" id="open" value="展開">
        <div class="lightbox" id="lightbox">
            <div class="mask"></div>
            <div class="body">
                <div class="title">here is lightbox title</div>
                <input type="button" class="close" id="close" value="X">
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>