Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# 如果请求的是一个真实存在的文件或目录，则直接访问，不重写
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 将 xxx/train-lookup/2016-01-01/Taipei/Taitung/1 重写到 xxx/train-lookup.php?date=2016-01-01&from=Taipei&to=Taitung&trainType=1
RewriteRule ^train-lookup/([0-9-]+)/([^/]+)/([^/]+)/([0-9]+)$ train-lookup.php?date=$1&from=$2&to=$3&trainType=$4 [L,QSA]