body {
	padding: 0px;
	margin: 0px;
	overflow: hidden auto;
}

a {
	color: black;
	text-decoration: none;
}

.image {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.navigationbar {
	position: fixed;
	top: 0px;
	left: 0px;
	background: whitesmoke;
	backdrop-filter: blur(80px);
	opacity: 0.85;
	width: calc(100% - 30%);
	padding: 20px 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}

.navigationbartitle {
	font-size: 25px;
}

.navigationbarlink {
	font-size: 20px;
	text-decoration: none;
	color: rgb(0, 38, 207);
}

.calltoaction {
	position: relative;
	width: 100%;
	min-height: 50vh;
	max-height: 100vh;
}

.calltoactionimage {
	min-height: 50vh;
	max-height: 100vh;
}

.calltoactionbuttondiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.calltoactionbutton {
	position: relative;
	border: none;
	font-size: 20px;
	border-radius: 10px;
	background: rgb(179, 179, 179);
	padding: 35px 50px;
	cursor: pointer;

	--x: 300%;
	--y: 300%;
}

.calltoactionbutton::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border-radius: 10px;
	background: radial-gradient(circle at var(--x) var(--y),
			rgb(249, 22, 22), rgb(249, 22, 22), transparent, transparent);
}

.calltoactionbutton::after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 2px;
	right: 2px;
	top: 2px;
	border-radius: 10px;
	background: rgb(179, 179, 179);
}

.block {
	padding: 10px 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.margin-10px_0px {
	margin: 10px 0px;
}

.essentialinformation {
	width: 100%;
}

.readbutton {
	background: rgb(37, 37, 255);
	border-radius: 10px;
	font-size: 15px;
	color: white;
	padding: 15px 25px;
	cursor: pointer;
}

.latestevent {
	width: 100%;
}

.phone {
	display: none;
}

.mapattraction {
	padding: 10px 15%;
}

.mapattractiontitle {
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	margin: 40px 0px;
}

.mapattractionmain {
	position: relative;
}

.mapattractiondiv {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}

.mapdiv {
	width: 50%;
	margin: 40px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
}

.mapcard {
	background: white;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.mapcardtitle {
	font-size: 15px;
	margin: 0px 0px 20px 0px;
}

.video {
	width: 100%;
	max-height: 100%;
}

.contactus {
	position: relative;
	padding: 0px 15%;
	margin: 50px 0px;
}

.contactustitle {
	position: absolute;
	top: -100px;
	left: 50%;
	transform: translate(-50%, -0%);
	border: 2px rgb(179, 179, 179) solid;
	background: white;
	padding: 30px 15px;
}

.contactusform {
	border: 2px rgb(179, 179, 179) solid;
	padding: 100px 15px 15px 15px;
	margin-top: 150px;
}

.inputdiv {
	width: 100%;
	white-space: nowrap;
	margin: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.input {
	width: 100%;
}

.display-flex {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.footer {
	width: calc(100% - 20%);
	line-height: 15px;
	background: rgb(203, 203, 203);
	padding: 20px 10%;
}

.footerlinkdiv {
	margin: 10px 0px 20px 0px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footerlinkdiv>div>div {
	margin: 15px 0px;
}

.textcenter {
	text-align: center;
	margin: 30px 0px 0px 0px;
}

.offlinemessage {
	display: none;
}

.offline>div {
	display: none;
}

.offline .navigationbar {
	display: flex;
	position: initial;
}

.offline .block {
	display: block;
}

.offline .essentialinformation {
	width: 100%;
	display: block;
}

.offline .latestevent {
	display: none;
}

.offline .offlinemessage {
	display: block;
	width: 100%;
	color: red;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 760px) {
	.pc {
		display: none;
	}

	.phone {
		display: initial;
	}
}