body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(35, 35, 35);
    color: gray;
    user-select: none;
    word-break: initial;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h2{
    margin: 0px;
}

hr{
    border: 1px white solid;
    width: 100%;
    margin: 15px 0px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.grid{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(100,1fr);
    grid-auto-rows: 5%;
    border: 1px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 80%;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
}

.main{
    border: 1px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    width: 90%;
    height: 80%;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
}

.main2{
    border: 1px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
}

.link{
    grid-column: 1/90;
    grid-row: 1;
}

.input{
    grid-column: 1/90;
    grid-row: 2;
    border: none;
    border-bottom: 1px black solid;
    background: none;
    outline: none;
    font-size: 30px;
    color: white;
}

.linkbox{
    grid-column: 90/100;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question{
    grid-column: 1/30;
    grid-row: 4;
}

.select{
    grid-column: 30/90;
    grid-row: 4;
    font-size: 20px;
}

.selectbox{
    grid-column: 90/100;
    grid-row: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contexttext{
    grid-column: 1/90;
    grid-row: 6;
}

.context{
    grid-column: 1/90;
    grid-row: 7/12;
    font-size: 20px;
    resize: none;
}

.contextbox{
    position: relative;
    grid-column: 90/100;
    grid-row: 6/12;
    font-size: 15px;
    text-align: center;
}

.email{
    grid-column: 1/30;
    grid-row: 13;
}

.emailinput{
    grid-column: 30/90;
    grid-row: 13;
    border: none;
    height: 40px;
    background-color: white;
    background: none;
    border-bottom: 1px black solid;
    outline: none;
    font-size: 30px;
}

.emailbox{
    position: relative;
    grid-column: 90/100;
    grid-row: 13;
    font-size: 15px;
    text-align: center;
}

.anthortext{
    grid-column: 1/90;
    grid-row: 15;
}

.anthor{
    grid-column: 1/90;
    grid-row: 16/18;
}

.anthorbox{
    grid-column: 90/100;
    grid-row: 15/18;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttondiv{
    grid-column: 1/100;
    grid-row: 18;
    text-align: center;
}

.maintable{
    margin-top: 10px;
}

.admintable{
    border-bottom: 1px white solid;
    color: white;
    width: 500px;
    max-height: 100px;
    font-size: 20px;
    padding: 15px;
    overflow-y: auto;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

.xcenter{
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0%);
}

.ycenter{
    position: relative;
    top: 50%;
    left: 0px;
    transform: translate(0%,-50%);
}

.checkbox{
    width: 20px;
    height: 20px;
}

.button{
    border: 1px black solid;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.button:hover{
    background: gray;
    color: white;
}

.button2{
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px black solid;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.button2:hover{
    background: gray;
    color: white;
}

.button3{
    border: 1px black solid;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 75%;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.button3:hover{
    background: gray;
    color: white;
}


.reflashbutton{
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(215, 164, 61);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    height: 35px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.reflashbutton:hover{
    background-color: rgb(255, 213, 128);
    color: black;
}

.submitbutton{
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(33, 133, 15);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.submitbutton:hover{
    background-color: rgb(75, 231, 94);
    color: black;
}

.selectbutton{
    background-color: rgba(35, 35, 35, 0.75);
    color: white;
}

.a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.a:hover{
    text-decoration: underline;
}