<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="index.css">
        <script src="error.js"></script>
        <link rel="stylesheet" href="plugin/css/chrisplugin.css">
        <script src="plugin/js/chrisplugin.js"></script>
    </head>
    <body>
        <div class="navigationbar">
            <div class="navigationbartitle">網路問卷管理系統</div>
            <div class="navigationbarbuttondiv">
                <input type="button" class="navigationbarbutton" onclick="location.href='index.html'" value="首頁">
                <input type="button" class="navigationbarbutton" id="newform" value="新增問卷">
            </div>
        </div>
        <div class="macosmaindiv macossectiondiv">
            <table>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
                <tr>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                    <td class="formtdtitle"></td>
                </tr>
            </table>
        </div>
        <div id="lightbox"></div>
        <script src="lightbox.js"></script>
    </body>
</html>