<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <section class="container">
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
            <div class="card">
                <h1>Title</h1>
                <p>This is a simple card</p>
            </div>
        </section>
        <script src="index.js"></script>
    </body>
</html>