.maindiv{
    width: 100vw;
    height: 100vh;
}

.titlediv{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 999;
}

.title{
    font-size: 45px;
    font-weight: bold;
}

.subtitle{
    font-size: 25px;
    font-style: normal;
}

.indexdiv{
    display: none;
}

.featurediv{
    display: none;
}

.informationdiv{
    display: none;
}

.roadmapdiv{
    display: none;
}

.radio{
    display: none;
    cursor: pointer;
}

.banner{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.75;
}

.feature{
    display: none;
}

.maindiv:has(.indexradio:checked)>.indexdiv{
    display: block;
}

.maindiv:has(.featureradio:checked)>.featurediv{
    display: block;
}

.maindiv:has(.informationradio:checked)>.informationdiv{
    display: block;
}

.maindiv:has(.roadmapradio:checked)>.roadmapdiv{
    display: block;
}

/* indexradio change START */
.radiodiv:has(.indexradio:checked){
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.radiodiv:has(.featureradio:checked){
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.radiodiv:has(.informationradio:checked){
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.radiodiv:has(.roadmapradio:checked){
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
/* indexradio change END */

.labeldiv{
    display: inline-block;
    width: 15vw;
}

.label{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
}

.featureimage{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
}

/* feature change START */

.featurediv{
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 75vh;
    padding: 5px 20px;
}

.featuremaindiv{
    border: 1px gray solid;
    width: 95vw;
    height: 65vh;
    margin-top: 15px;
    overflow: hidden auto;
}

.featurelabeldiv{
    display: inline-block;
    width: 20vw;
}

.featuremain{
    display: none;
}

.featurediv:has(.feature1:checked)>.featuremaindiv>.feature1div{
    display: block;
}

.feature1image{
    max-width: 100%;
}

.feature1title{
    font-size: 40px;
    font-weight: bold;
}

.feature1description{
    font-size: 15px;
    text-align: justify;
    display: flex;
    align-items: start;
}

.featurediv:has(.feature2:checked)>.featuremaindiv>.feature2div{
    display: block;
}

.feature2table{
    font-size: 20px;
}

.featurediv:has(.feature3:checked)>.featuremaindiv>.feature3div{
    display: block;
}

.feature3image{
    max-width: 100%;
    max-height: 30vh;
}

.featurediv:has(.feature4:checked)>.featuremaindiv>.feature4div{
    display: block;
}
/* feature change END */

.featureradiodiv{
    position: relative;
    z-index: 999;
}