body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    user-select: none;
    word-break: break-all;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h2{
    margin: 0px;
}

hr{
    border: 1px white solid;
    width: 100%;
    margin: 15px 0px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.searchform{
    text-align: right;
}

.search{
    width: 82%;
    height: 25px;
    font-size: 20px;
    position: relative;
    right: 5px;
}

.aside{
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    padding: 20px 5px;
    width: 16%;/* 寬度 */
    height: calc(100% - 40px);/* 高度 */
    float: left;
    /* margin-top: 55px; */
    border-right: 2px white solid;
}

.main{
    position: absolute;/* 絕對定位 */
    right: 5px;
    width: 82%;/* 寬度 */
    height: 90%;
    overflow-y: auto;
}

/* 新增學生 */
.addsut{
    position: relative;/* 絕對定位 */
    top:0px;/* 定位 */
    right: 3px;
    border: 1px black solid;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;/* 寬度 */
    height: 65px;/* 高度 */
    font-size: 30px;/* 字體大小 */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}

.addsut:hover{
    background-color: rgba(100, 100, 100,0.35);/* 背景顏色 */
}

.icon{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

/*
燈箱
#########################################
*/
.div{
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 999;/*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask{
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(100, 100, 100, 0.25);/* 背景顏色 */
}

.close{
    border: 1px black solid;
    padding: 10px 50px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.submit{
    border: 1px black solid;
    padding: 10px 50px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.close:hover{
    background: gray;
    color: white;
}

.submit:hover{
    background: gray;
    color: white;
}

.body{
    position: absolute;/* 絕對定位 */
    left: 50%;/* 定位 */
    top: 50% ;
    transform: translate(-50%,-50%);
    text-align: center;/* 文字置中 */
    font-size: 20px;
    width: 1400px;/* 寬度 */
    height: 675px;/* 高度 */
    border: 1px blue solid;/* 邊框 */
    background-color: rgb(98, 98, 98);/* 背景顏色 */
    border-radius: 15px;/* 圓弧邊框 */
    /* display: block; */
}

.stu{
    font-size: 45px;/* 字體大小 */
    text-align: center;/* 文字置中 */
}

.note{
    font-size: 20px;/* 字體大小 */
}

.title{
    margin: 5px;
    font-size: 55px;
    color: white;
    text-align: center;
}

.maintd{
    width: 10000px;
    height: 40px;
    padding: 10px;
}

.avatar{
    width: 140px;
    font-size: 30px;
}

.input{
    border: none;
    width: 90%;
    height: 40px;
    background-color: white;
    background: none;
    border-bottom: 1px black solid;
    outline: none;
    font-size: 30px;
}

.name{
    width: 45%;
}

.left{
    float: left;
    width: 13%;
    height: 550px;
    border-right: 1px black solid;
}

.right{
    float: right;
    height: 245px;
    width:85%;
    position: relative;
    right: 10px
}

.avater_preview{
    width: 100px;
    height: 100px;
    border: 1px black solid;
    border-radius: 50%;
}

.addclassbody{
    position: absolute;/* 絕對定位 */
    left: 50%;/* 定位 */
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;/* 文字置中 */
    width: 525px;/* 寬度 */
    height: 300px;/* 高度 */
    padding: 10px;
    font-size: 20px;
    border: 1px blue solid;/* 邊框 */
    background-color: rgba(100, 100, 100, 0.5);/* 背景顏色 */
    border-radius: 15px;/* 圓弧邊框 */
    /* display: block; */
}

.addclass{
    width: 100%;
    height: 25px;
    font-size: 15px;
}

.selectclass{
    width: 100px;
}

.buttondiv{
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
}

.button{
    border: 1px black solid;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.button:hover{
    background: gray;
    color: white;
}

/*
#####################################
*/

.message{
    font-size: 40px;
    color: red;
    font-weight: bold;
    margin-top: 50px;
}

.warning{
    position: relative;
    left: 20px;
    color: red;
    width: 90%;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0px;
}

.list{
    list-style-type:none;
    position: relative;
    right: 55px;
    width: 100%;
}

.item{
    width: calc(100% + 5px);
    height: 50px;
    font-size: 30px;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.current{
    background-color: rgb(135, 135, 135);
    color: white;
}

.searchresult{
    background: yellow;
}