<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="plugin/css/macossection.css">
        <script src="plugin/js/macossection.js"></script>
    </head>
    <body>
        <a href="sort.zip" download="sort.zip">download</a><br>
        <div class="sort">
            <div class="card">1234501</div>
            <div class="card">1234502</div>
            <div class="card">1234503</div>
            <div class="card">1234504</div>
            <div class="card">1234505</div>
            <div class="card">1234506</div>
            <div class="card">1234507</div>
            <div class="card">1234508</div>
            <div class="card">1234509</div>
            <div class="card">1234510</div>
            <div class="card">1234511</div>
            <div class="card">1234512</div>
        </div>
        <div class="sort">
            <div class="card">1234501</div>
            <div class="card">1234502</div>
            <div class="card">1234503</div>
            <div class="card">1234504</div>
            <div class="card">1234505</div>
            <div class="card">1234506</div>
            <div class="card">1234507</div>
            <div class="card">1234508</div>
            <div class="card">1234509</div>
            <div class="card">1234510</div>
            <div class="card">1234511</div>
            <div class="card">1234512</div>
        </div>
        <div class="sort">
            <div class="card">1234501</div>
            <div class="card">1234502</div>
            <div class="card">1234503</div>
            <div class="card">1234504</div>
            <div class="card">1234505</div>
            <div class="card">1234506</div>
            <div class="card">1234507</div>
            <div class="card">1234508</div>
            <div class="card">1234509</div>
            <div class="card">1234510</div>
            <div class="card">1234511</div>
            <div class="card">1234512</div>
        </div>
        <script src="index.js"></script>
    </body>
</html>