.navigationbartitle2{
    font-size: 35px;
    font-style: italic;
    margin-left: 20px;
}

.navigationbar2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.count{
    font-size: 35px;
}

.gamecount{
    font-size: 40px;
    color: lightgreen;
    display: inline-block;
}

/* .function{

} */

.maindiv{
    position: relative;
    top: 150px;
}

.game{
    border: 1px white solid;
    width: 80%;
    height: 25vh;
    position: relative;
    left: 50%;
    transform: translate(-50%,-0%);
    margin: 20px 0px;
    cursor: pointer;
}

.logoutmessage{
    width: 70vw;
    word-wrap: break-word;
    word-break: normal;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.longbutton{
    border: 1px black solid;
    width: 100%;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
}

.longbutton:hover{
    background: gray;
    color: white;
}

.title{
    grid-column: 2/70;
    grid-row: 1/5;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
}

.author{
    grid-column: 80/100;
    grid-row: 3/5;
    display: flex;
    align-items: end;
    justify-content: end;
}

.description{
    grid-column: 30/100;
    grid-row: 6/17;
    font-size: 20px;
    color: white;
    text-align: justify;
}

.scorecount{
    grid-column: 80/100;
    grid-row: 1/3;
    display: flex;
    align-items: start;
    justify-content: end;
    color: rgb(6, 136, 250);
}

.imagediv{
    grid-column: 2/30;
    grid-row: 6/17;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    max-width: 100%;
    max-height: 100%;
}

.navigationbara{
    font-size: 20px;
}

.profiletitle{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%,-0%);
    cursor: pointer;
    font-size: 40px;
    color: white;
    text-align: left;
    margin: 20px 0px;
}

.profilegamediv{
    grid-column: 1/70;
    grid-row: 1/18;
}

.profilehightscore{
    grid-column: 70/100;
    grid-row: 1/18;
}

.profilegame{
    width: 95%;
}

/* .error{
    color: red;
    font-weight: bold;
    font-size: 45px;
    margin: 30px 0px;
    word-break: normal;
    word-wrap: break-word;
} */

.gamediv{
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%,-0%);
}

.gamemaindiv{
    width: 70vw;
    height: 50vh;
}

.gameleaderboarddiv{
    width: 30vw;
    height: 35vh;
    position: relative;
    top: -10px;
    display: inline-block;
}

.gamedescriptiondiv{
    width: 35vw;
    height: 35vh;
    position: relative;
    top: 20px;
    margin: 0px 0px 0px calc(5vw - 10px);
    display: inline-block;
}

.gameleaderboard{
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
}

.gamedescription{
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
}

.title2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-left: 5px;
}

.indexfunctionbuttondiv{
    margin: 0px 10px;
    display: inline-block;
}

.bluebuttonselect{
	box-shadow: none;
    background: rgb(143, 140, 248);
    color: black;
	border-radius: 5px;
	border: 1px solid #0b0e07;
	display: inline-block;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
    margin: 5px 0px;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: none;
}

.gamenotd{
    text-align: center;
}

.gameusernametd{
    text-align: left;
}

.gamescoretd{
    text-align: right;
}

.gametr{
    font-size: 15px;
}

.highlightuser{
    font-weight: bold;
    font-size: 17px;
}

.iframe{
    width: 100%;
    height: 100%;
}

.inputmargin{
    margin: 5px 0px;
}

.profilehightscorediv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}