<!--
    標題: macos滑動滾輪參考版面
    作者: 小賀chris
    製作及log:
    2023/05/11 21:30:30 BATA 1.0.0

        |-------    -----    -                     -     -----     -------|
       |-------    -        -            - - -          -         -------|
      |-------    -        -------    -          -     -----     -------|
     |-------    -        -     -    -          -         -     -------|
    |-------    -----    -     -    -          -     -----     -------|
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <a href="macossection.zip" download="macossection.zip">download</a>
        <div class="macossectiondiv" id="macossectiondiv">
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
            <p>lagedata</p>
        </div>
        <script src="index.js"></script>
    </body>
</html>