body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(156, 154, 154, 0.342);
    user-select: none;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(5);
}

.gamebar{
    transform: scale(0.75);
    position: absolute;
    top: -25px;
    left: 30px;
}

.button{
    border-radius: 25px;
    background-color: white;
    border: 0.5px black solid;
    height: 25px;
    width: 75px;
    cursor: pointer;
}

.button:hover{
    background-color: rgba(186, 186, 186, 0.363);
}

.table{
    border-collapse: collapse;
    text-align: center;
}

.td{
    width: 40px;
    height: 40px;
    border: 1px black solid;
    font-size: 30px;
}

.cover{
    background-color: rgba(240, 248, 255, 0);
}

.div{
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.mask{
    position: absolute;/* 絕對定位 */
    top: 0px;/* 定位 */
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(41, 41, 41, 0.718);/* 背景顏色 */
}

.submit{
    font-size: 15px;/* 字體大小 */
    width: 250px;/* 寬度 */
}

.body {
    position: absolute;/* 絕對定位 */
    left: 50%;/* 定位 */
    top: 50% ;
    transform: translate(-50%,-50%) scale(3);
    text-align: center;/* 文字置中 */
    width: 350px;
    border: 1px rgb(45, 45, 45) solid;/* 邊框 */
    background-color: rgba(100, 100, 100, 0.5);/* 背景顏色 */
    border-radius: 15px;
}

.title{
    margin: 5px;
}

.buttonlist{
    float: right;
    position: relative;
    right: 5px;
    bottom: 10px;
    width: 100%;
}